body {
  font-family: 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
  background: #f1f1f1;
}

a {
  color: #ff655d;
}

a:hover,
a:active {
  color: #f44336;
}

/* Component CSS */

.app {
}

.list {
}

.form {
}
